.col-8 {
  margin-top: 20px;
}

.WeatherForecast-temp {
  font-size: 14px;
}
.col-2 {
  text-align: center;
}
.WeatherForecast-temp-max,
.WeatherForecast-day {
  color: black;
  font-family: arial, sans-serif;
}
.WeatherForecast-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.forecast-inline {
  padding-top: 20px;
}
